
.Navbar .text{
    display: block;
    color: #02735E;
    text-decoration: none;
    font-size: 30px;
    font-weight: 300;
    font-style: normal;
    padding: 10px 20px;
}

.Navbar .inicio .img{
    width: 80px;
}


.Navbar .inicio label{
    font-size: 18px;
    font-weight:bold;
    color: rgba(0, 0, 0, 0.565);
}
.Navbar ul{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} 

.Navbar li{
    display: block;
}

.Navbar .active{
    color: #03A678 !important;
    border-bottom: 2px #F27405 solid;
}

.Navbar{
    position: relative;
    display: flex;
    width: 100%;
    background-color: #014040;
}

.Navbar .content{
    position: relative;
    display: flex;
    align-items: flex-end;
}

.Navbar .sesion{
    position: absolute;
    display: flex;
    height: 100%;
    align-items: center;
    margin-right: 50px;
    right: 0;
    border: 1px solid blue;
}

.Navbar .sesion span{
    display: block;
    color: #02735E;
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
}

.Navbar .sesion .circle{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    height: 30px;
    width: 30px;
    border: 2px #F27405 solid;
    border-radius: 50%;
}

.Navbar .sesion .circle .icono{
    position: relative;
    display: flex;
    color: #F27405 ;
    width: 12px;
}

.Navbar .registrate{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    right: 0;
    height: 100%;
    width: 270px;
    margin-right: 50px;
    align-items: center;
    justify-content:space-between;
}

.Navbar .registrate .empleado .icono{
    color: rgb(13, 181, 181);
    margin-right: 5px;
}


.Navbar .registrate .empleado{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Navbar .registrate .empresa{
    position: relative;
    display: block;
}

.Navbar .registrate .empleado label{
    color: #03A678;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    cursor: pointer;
}

.Navbar .registrate .empresa label{
    color: #03A678;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    cursor: pointer;
}

.none{
    display: none !important;
}

#card{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 150px;
    text-align: center;
    border: none;
    cursor: pointer;
    background-color: rgb(186, 231, 217);
}

#card .logo{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-bottom: 5px;
}

#RegisterEmploye{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
}

#RegisterEmploye strong{
    margin-bottom: 3vh;
    font-size: larger;
}

#RegisterEmploye .btn-center{
    position: relative;
    display: flex;
    justify-content: center !important;
    margin-top: 20px;
}

#RegisterEmploye .blurfoto{
    position: relative;
    display: block;
    margin: auto;
    max-width: calc(500px);
    max-height: calc(500px);
    overflow: hidden;
}

#RegisterEmploye .blurfoto img{
    max-width: 200px;
    max-height: 200px;
}

#RegisterEmploye .blurfoto img:hover{
    transform:scale(1.3);
    transition: all 1s;
}

#RegisterEmploye .blurfoto img{
    transform:scale(1);
    transition: all 1s;
}

#RegisterEmploye .location{
    position: relative;
    display: flex;

}

#RegisterEmploye .margin{
    margin-left: 10px;
}

#RegisterEmploye.active{
    background-color: #01463a !important;
    border: #01463a !important;
}