*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.dashed{
    border: 1px solid red;
}


/* Color Theme Swatches in Hex
.A-warm-and-cosy-campfire-in-the-wilderness-with-forest-trees-silhouetted-in-the-background-and-the-stars-and-Northern-Lights-(Aurora-Borealis)-lighting-up-the-night-sky.-Photo-composite.-1-hex { color: #014040; }
.A-warm-and-cosy-campfire-in-the-wilderness-with-forest-trees-silhouetted-in-the-background-and-the-stars-and-Northern-Lights-(Aurora-Borealis)-lighting-up-the-night-sky.-Photo-composite.-2-hex { color: #02735E; }
.A-warm-and-cosy-campfire-in-the-wilderness-with-forest-trees-silhouetted-in-the-background-and-the-stars-and-Northern-Lights-(Aurora-Borealis)-lighting-up-the-night-sky.-Photo-composite.-3-hex { color: #03A678; }
.A-warm-and-cosy-campfire-in-the-wilderness-with-forest-trees-silhouetted-in-the-background-and-the-stars-and-Northern-Lights-(Aurora-Borealis)-lighting-up-the-night-sky.-Photo-composite.-4-hex { color: #F27405; }
.A-warm-and-cosy-campfire-in-the-wilderness-with-forest-trees-silhouetted-in-the-background-and-the-stars-and-Northern-Lights-(Aurora-Borealis)-lighting-up-the-night-sky.-Photo-composite.-5-hex { color: #731702; }

/* Color Theme Swatches in RGBA */
/* .A-warm-and-cosy-campfire-in-the-wilderness-with-forest-trees-silhouetted-in-the-background-and-the-stars-and-Northern-Lights-(Aurora-Borealis)-lighting-up-the-night-sky.-Photo-composite.-1-rgba { color: rgba(1, 63, 63, 1); }
.A-warm-and-cosy-campfire-in-the-wilderness-with-forest-trees-silhouetted-in-the-background-and-the-stars-and-Northern-Lights-(Aurora-Borealis)-lighting-up-the-night-sky.-Photo-composite.-2-rgba { color: rgba(2, 114, 94, 1); }
.A-warm-and-cosy-campfire-in-the-wilderness-with-forest-trees-silhouetted-in-the-background-and-the-stars-and-Northern-Lights-(Aurora-Borealis)-lighting-up-the-night-sky.-Photo-composite.-3-rgba { color: rgba(3, 165, 119, 1); }
.A-warm-and-cosy-campfire-in-the-wilderness-with-forest-trees-silhouetted-in-the-background-and-the-stars-and-Northern-Lights-(Aurora-Borealis)-lighting-up-the-night-sky.-Photo-composite.-4-rgba { color: rgba(242, 115, 4, 1); }
.A-warm-and-cosy-campfire-in-the-wilderness-with-forest-trees-silhouetted-in-the-background-and-the-stars-and-Northern-Lights-(Aurora-Borealis)-lighting-up-the-night-sky.-Photo-composite.-5-rgba { color: rgba(114, 22, 2, 1); } */

/* Color Theme Swatches in HSLA */
/* .A-warm-and-cosy-campfire-in-the-wilderness-with-forest-trees-silhouetted-in-the-background-and-the-stars-and-Northern-Lights-(Aurora-Borealis)-lighting-up-the-night-sky.-Photo-composite.-1-hsla { color: hsla(180, 96, 12, 1); }
.A-warm-and-cosy-campfire-in-the-wilderness-with-forest-trees-silhouetted-in-the-background-and-the-stars-and-Northern-Lights-(Aurora-Borealis)-lighting-up-the-night-sky.-Photo-composite.-2-hsla { color: hsla(168, 96, 22, 1); }
.A-warm-and-cosy-campfire-in-the-wilderness-with-forest-trees-silhouetted-in-the-background-and-the-stars-and-Northern-Lights-(Aurora-Borealis)-lighting-up-the-night-sky.-Photo-composite.-3-hsla { color: hsla(163, 96, 33, 1); }
.A-warm-and-cosy-campfire-in-the-wilderness-with-forest-trees-silhouetted-in-the-background-and-the-stars-and-Northern-Lights-(Aurora-Borealis)-lighting-up-the-night-sky.-Photo-composite.-4-hsla { color: hsla(28, 96, 48, 1); }
.A-warm-and-cosy-campfire-in-the-wilderness-with-forest-trees-silhouetted-in-the-background-and-the-stars-and-Northern-Lights-(Aurora-Borealis)-lighting-up-the-night-sky.-Photo-composite.-5-hsla { color: hsla(11, 96, 22, 1); } */ 
